.list--close{
    display: none;
}

.list--open{
    display: block;
}

.main{
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background: #666;
}

.main:last-of-type{
    margin: 0;
}
