header{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.wrapper{
    width: 100%;
}

.wrapper::after{
    clear: both;
    content: "";
    display: none;
}

li{
    width: 25%;
    float: left;
}
