.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box{
    width: 30%;
    height: 100px;
    background: #888;
}

.wrapper__list{
    display: flex;
    justify-content: space-between;
}

.list{
    display: none;
    margin: 0 auto;
}
