.box{
    width: 40px;
    height: 40px;
    background: #666;
}

/*transforme*/
.box__transforme{
    transition: transform 0.5s;
}

.box__transforme:hover{
    transform: rotateY(360deg);
}

/*transition*/
.box__transition{
    transition: all 0.5s 0.5s;
}

.box__transition:hover{
    width: 160px;
}

/*animation*/
.box__animation{
    animation-name: animation1;
    animation-duration: 0.5s;
    animation-timing-function: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes animation1 {
    0%{
        background: #000;
    }
    100%{
        background: #f20;
    }
}
