.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.menu_title{
    text-align: center;
}

.menu{
    text-align: center;
}

.navi--close{
    display: none;
}

.navi--open{
    display: block;
}
